{% extends "layout.html" %}

{% block extra_styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_styles.css') }}">
{% endblock %}

{% block body %}
  <header>
    <!-- Tu header común para los 3 dashboards -->
    <div class="logo">
      
      <img class="logo-letras" src="{{ url_for('static', filename='img/logo-letters.png') }}" alt="Icono">
    </div>

    <div class="user-menu">
      <!-- Usuario + menú desplegable -->
      <button id="user-button">
        <div>{{ session.get('username', 'Usuario') }}</div>
        <div>{{ session.get('user_type', '') }}</div>
      </button>
      <ul id="dropdown">
        <li><a href="#">Perfil</a></li> <!--TODO crear pagina y agregar ruta a perfil-->
        <li><a href="{{ url_for('validacion_usuarios.logout') }}">Cerrar sesión</a></li>
      </ul>
    </div>
  </header>

  <div class="contenedor-main">
    <nav class="side-navbar">
      {% block nav %}
      <!--se agregan los data-section="" para hacer el contenido dinamico desde JS-->
        <ul>
          {% if session.get('user_type') == 'admin' %}
            <li><a href="#" data-section="crear-usuario">Crear usuario</a></li>
            <li><a href="#" data-section="borrar-usuario">Borrar usuario</a></li>
            <li><a href="#" data-section="listar-usuarios">Ver usuarios</a></li>
            <!-- TODO poner todo dentro de "gestion usuario y hacer un desplegable para opciones o otra pantalla"-->
          {% elif session.get('user_type') == 'propietario' %}
            <li><a href="#" data-section="enviar-invitacion-form">Enviar invitación</a></li>
            <li><a href="#" data-section="llave-virtual">Llave virtual</a></li> <!--crear el QR de acceso al barrio-->
          {% elif session.get('user_type') == 'seguridad' %}
            <li><a href="#" data-section="escanear-QR-acceso">Escanear QR</a></li>
            <li><a href="#" data-section="registrar-acceso-manual">Registrar acceso</a></li>
          {% endif %}
        </ul>
      {% endblock %}
    </nav>

       <main class="main-dinamico inactivo">
        {% block contenido_especifico %}{% endblock %}
        <div class="logo-central">
          <img src="{{ url_for('static', filename='img/logo-img.png') }}" alt="Logo central">
        </div>
    </main>

  <footer>
    {% block footer %}{% endblock %}
  </footer>

  <script src="{{ url_for('static', filename='js/dashboard_layout.js') }}"></script>
  <script>
    console.log("Script cargado correctamente 🎯");
  </script>
{% endblock %}

{% block scripts_adicionales %}
  {# Aquí no hace falta repetir el script, a menos que tengas otro JS #}
{% endblock %}
